
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-u84 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-pxpu-qnQ {
    box-sizing: border-box;
    padding: 1.3rem 12.1rem 1.5rem 28.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #54a0ff;
    flex-shrink: 0;

    .logo-Mkk {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 56.5rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: rgba(35, 31, 32, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
    }
    .beranda-4fA {
      margin: 0rem 4.1rem 0.2rem 0rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .harga-ZM2 {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.5rem 0.2rem 0rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-kqct-gwS {
      width: 45.5rem;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.6200000048);
      white-space: nowrap;
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 21rem 0.2rem 0rem;
      box-sizing: border-box;
      padding: 0.8rem 2.4rem;
      font-size: 1.4rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      background-color: rgba(217, 217, 217, 0.8399999738);
    }
    .ellipse-4-M1z {
      background-image: url('REPLACE_IMAGE:b9c6e89875fbd73019c68689a8c7c21055eb78fc');
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 3.6rem;
      height: 3.6rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 1.8rem;
    }
  }
  .auto-group-h1vj-emn {
    width: 100%;
    height: 180.9rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-cjza-avL {
      width: 112.7rem;
      height: 38.3037rem;
      position: absolute;
      left: 40.7rem;
      top: 8.9rem;

      .rectangle-3-hzx {
        left: 2.8rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.5rem;
        width: 107.5rem;
        height: 38.3037rem;
        position: absolute;
      }
      .ellipse-13-pJt {
        left: 0;
        top: 16.8rem;
        background-color: #d9d9d9;
        border-radius: 2.4rem;
        width: 4.8rem;
        height: 4.8rem;
        position: absolute;
      }
      .item--ifA {
        top: 15.8rem;
        font-size: 4.5rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        width: 2.8rem;
        height: 6.8rem;
        position: absolute;
        left: 1rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
      }
      .ellipse-14-axG {
        left: 107.9rem;
        top: 16.8rem;
        background-color: #d9d9d9;
        border-radius: 2.4rem;
        width: 4.8rem;
        height: 4.8rem;
        position: absolute;
      }
      .item--WL8 {
        width: 2.7rem;
        position: absolute;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        height: 6.8rem;
        left: 108.9rem;
        top: 15.8rem;
        font-size: 4.5rem;
        white-space: nowrap;
      }
    }
    .games-ce4 {
      position: absolute;
      left: 43.2rem;
      top: 56.3rem;
      font-weight: 700;
      white-space: nowrap;
      width: 8.9rem;
      height: 3.6rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
    }
    .more-information-vek {
      font-size: 2.4rem;
      line-height: 1.5;
      white-space: nowrap;
      left: 43.4rem;
      top: 174rem;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
      width: 21.5rem;
      height: 3.6rem;
      position: absolute;
    }
    .rectangle-5-EfS {
      width: 8.6rem;
      height: 0.8rem;
      position: absolute;
      left: 43.2rem;
      top: 60.2rem;
      background-color: #54a0ff;
      border-radius: 3rem;
    }
    .rectangle-23-m9a {
      left: 43.4rem;
      top: 177.9rem;
      background-color: #54a0ff;
      border-radius: 3rem;
      width: 8.6rem;
      height: 0.8rem;
      position: absolute;
    }
    .auto-group-uhxv-fkk {
      align-items: center;
      width: 101.1rem;
      height: 2.4rem;
      position: absolute;
      left: 46.1rem;
      top: 83.2rem;
      display: flex;

      .league-of-legend-zo2 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .free-fire-wCU {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.6rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .cod-mobile-fuA {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .lot-new-era-nTz {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.2rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .stumbleguys-jPE {
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-9wdn-Gtx {
      top: 108.9rem;
      display: flex;
      align-items: center;
      width: 94.3rem;
      height: 2.4rem;
      position: absolute;
      left: 51.9rem;

      .sky-kp8 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .ragnarok-x-Hp4 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.1rem;
      }
      .ace-racer-EUQ {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .valorant-yRz {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .be-the-king-iPa {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
    .auto-group-swmi-Tc4 {
      width: 98.7rem;
      height: 2.4rem;
      position: absolute;
      left: 47.5rem;
      top: 134.3rem;
      display: flex;
      align-items: center;

      .pubg-mobile-bTN {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .lords-mobile-vEk {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10.2rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .lifeafter-credits-r8Q {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10rem;
      }
      .mobile-legends-bLt {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10rem;
      }
      .marvel-snap-YG8 {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
    .auto-group-qeel-HUc {
      display: flex;
      align-items: center;
      width: 58.5rem;
      height: 2.4rem;
      position: absolute;
      left: 67.4rem;
      top: 159.8rem;

      .marvel-super-war-cmn {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10.3rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .supersus-MzG {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.7rem;
        font-size: 1.6rem;
      }
      .honkai-star-raill-VKn {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-2vde-dB6 {
      top: 63.2rem;
      display: flex;
      align-items: center;
      width: 107.4rem;
      height: 18.8rem;
      position: absolute;
      left: 43.6rem;

      .rectangle-4-9v8 {
        flex-shrink: 0;
        margin: 0.3rem 2.3rem 0.2rem 0rem;
        height: calc(100% - 0.5rem);
        cursor: pointer;

        .rectangle-4-f7n {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
          height: 18.3rem;
        }
      }
      .rectangle-28-zfr {
        cursor: pointer;
        flex-shrink: 0;
        margin: 0.5rem 2.4rem 0rem 0rem;

        .rectangle-28-Ky2 {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-29-DHi {
        flex-shrink: 0;
        margin: 0.5rem 2.4rem 0rem 0rem;
        cursor: pointer;

        .rectangle-29-Mui {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-W1v {
        margin: 0rem 2.8rem 0.5rem 0rem;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-rba {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-zxg {
        margin-bottom: 0.5rem;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-Zkt {
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
        }
      }
    }
    .auto-group-27lk-t2U {
      left: 43.6rem;
      top: 89.4rem;
      display: flex;
      align-items: center;
      width: 107.6rem;
      height: 18.3rem;
      position: absolute;

      .rectangle-30-o9S {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;
        margin-right: 2.3rem;

        .rectangle-30-x2L {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-HqJ {
        margin-right: 2.3rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-TDz {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-ZH2 {
        margin-right: 2.5rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-KX6 {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-4zU {
        margin-right: 3rem;
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-3CC {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-31-bUc {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-31-Anc {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
    }
    .auto-group-rjwy-hXe {
      width: 107.6rem;
      height: 18.4rem;
      position: absolute;
      left: 43.6rem;
      top: 114.8rem;
      display: flex;
      align-items: flex-start;

      .rectangle-30-q84 {
        margin: 0rem 2.3rem 0.1rem 0rem;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-yzx {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-ixY {
        margin: 0.1rem 2.4rem 0rem 0rem;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-sqS {
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
        }
      }
      .rectangle-30-dJp {
        flex-shrink: 0;
        margin: 0rem 2.3rem 0.1rem 0rem;
        cursor: pointer;

        .rectangle-30-LU8 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
          height: 18.3rem;
        }
      }
      .rectangle-30-4f2 {
        margin: 0rem 3.1rem 0.1rem 0rem;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-Qyn {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
      .rectangle-30-Me8 {
        margin-bottom: 0.1rem;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-7tC {
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
        }
      }
    }
    .auto-group-qbmr-r56 {
      top: 140.3rem;
      display: flex;
      column-gap: 2.5rem;
      align-items: center;
      width: 63.5rem;
      height: 18.3rem;
      position: absolute;
      left: 65.2rem;

      .rectangle-30-yfW {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-Lkx {
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
        }
      }
      .rectangle-30-HgC {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-G8p {
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
          width: 19.5rem;
        }
      }
      .rectangle-30-ouS {
        height: 100%;
        cursor: pointer;
        flex-shrink: 0;

        .rectangle-30-Yc8 {
          width: 19.5rem;
          height: 18.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.5rem;
        }
      }
    }
  }
  .auto-group-y4ug-HJp {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:bebfcf4c8bd63625b00405568200c4ec1cf2e170');
    flex-shrink: 0;
    width: 193.5rem;
    height: 67.2rem;

    .payment-d7n {
      height: 3.6rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      width: 11.3rem;
      left: 43.3rem;
      top: 39.8rem;
      color: rgba(0, 0, 0, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .logo-Xix {
      width: 6.8rem;
      height: 3.6rem;
      font-size: 2.4rem;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      color: rgba(35, 31, 32, 0.8399999738);
      white-space: nowrap;
      position: absolute;
      left: 43.2rem;
      top: 7.5rem;
      font-weight: 700;
    }
    .rectangle-27-FQ4 {
      width: 8.6rem;
      height: 0.8rem;
      position: absolute;
      left: 43.3rem;
      top: 43.7rem;
      background-color: #54a0ff;
      border-radius: 3rem;
    }
    .lorem-ipsum-is-sample-or-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrysstandard-dumy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-not-only-survived-5-centuries-but-has-also-transitioned-to-electronic-typesetting-without-any-changes-it-began-to-be-popularized-in-1960-with-the-launch-of-letraset-sheets-which-used-sentences-from-lorem-ipsum-and-with-the-advent-of-desktop-publishing-software-such-as-aldus-pagemaker-also-had-a-lorem-ipsum-version-mdJ {
      width: 80rem;
      height: 12.6rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 43.3rem;
      top: 11.6rem;
      font-size: 1.4rem;
      color: #000000;
    }
    .auto-group-vbsq-Scx {
      width: 24.1rem;
      height: 2.4814rem;
      position: absolute;
      left: 43.3rem;
      top: 26.1rem;

      .icon-email-Mjv {
        width: 2.6rem;
        height: 2.4814rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .muklisggbetshopgmailcom-V5S {
        font-weight: 400;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 21.8rem;
        height: 2.1rem;
        position: absolute;
        left: 2.3rem;
        top: 0;
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
    .auto-group-4cxi-NQ8 {
      width: 37.3rem;
      height: 2.6rem;
      position: absolute;
      left: 43.3rem;
      top: 33.6rem;

      .icon-clock-76p {
        height: 2.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
      }
      .jam-hindari-transaksi-di-jam-00-00-s-d-00-30-424 {
        top: 0.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 35rem;
        position: absolute;
        left: 2.3rem;
        white-space: nowrap;
        height: 2.1rem;
        font-size: 1.4rem;
      }
    }
    .auto-group-ftrc-FsE {
      position: absolute;
      left: 43.3rem;
      top: 30rem;
      display: flex;
      align-items: center;
      width: 15rem;
      height: 2.1rem;

      .icon-phone-call-zZv {
        margin-right: 0.1rem;
        width: 2.2rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .item-0826-6788-9000-Xpk {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-jwzz-fAG {
      display: flex;
      align-items: flex-start;
      position: absolute;
      left: 43.2rem;
      top: 47.4rem;
      height: 3.6rem;
      column-gap: 1.1rem;
      box-sizing: border-box;
      padding-right: 10.6rem;
      width: 41.3rem;

      .qrisfooter-mUC {
        vertical-align: top;
        flex-shrink: 0;
        width: 9.5rem;
        height: 3.5rem;
        object-fit: cover;
      }
      .qrisfooter-Vuz {
        flex-shrink: 0;
        width: 9.5rem;
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .qrisfooter-e2C {
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 9.5rem;
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-3dbv-B28 {
      width: 32.7rem;
      height: 2rem;
      position: absolute;
      left: 43.2rem;
      top: 53.3rem;
      display: flex;
      align-items: center;

      .auto-group-swmw-uD2 {
        margin: 0rem 0.6rem 0.1rem 0rem;
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .cek-status-pembayaran-Rx4 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.7rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
      .auto-group-9s6g-8ba {
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.6rem 0.1rem 0rem;
        width: 1.5rem;
      }
      .login-FAQ {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.1rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .auto-group-xrng-zNt {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.6rem 0.1rem 0rem;
        width: 1.5rem;
        height: 1.5rem;
      }
      .register-Hsn {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
