
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 297rem;
}.group-1-NJt {
  height: 135.5rem;
  position: relative;
  background-color: #d2d2d2;
  border-radius: 16.6rem;
  width: 100%;

  .vectary-texture-vLQ {
    width: 124.2rem;
    height: 96.4rem;
    position: absolute;
    left: 13.3rem;
    top: 6.1rem;
    object-fit: cover;
    vertical-align: top;
  }
  .vectary-texture-FNg {
    left: 169.3rem;
    top: 13.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 114.4rem;
    height: 88.8rem;
    position: absolute;
  }
  .vectary-texture-Bn8 {
    width: 110.2rem;
    height: 85.6rem;
    position: absolute;
    left: 97.3rem;
    top: 43.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rpl-prototype-project-HqA {
    color: #a6a6a6;
    white-space: nowrap;
    width: 42rem;
    left: 17.8rem;
    top: 126.5rem;
    font-size: 3.6rem;
    font-family: Poppins, 'Source Sans Pro';
    height: 5.4rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.5;
  }
}
