
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mockup-vqN {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-kuey-gpY {
    box-sizing: border-box;
    padding: 1.5rem 5.6rem 1.1rem 18.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #54a0ff;
    flex-shrink: 0;

    .logo-QkY {
      color: rgba(35, 31, 32, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.5rem 24.4rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
    }
    .beranda-7ur {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.1rem 0.4rem 0rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
    }
    .harga-21E {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.5rem 0.4rem 0rem;
    }
    .auto-group-3z4c-kT2 {
      display: flex;
      align-items: center;
      background-color: rgba(217, 217, 217, 0.8399999738);
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 21rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 0.6rem 1rem 0.8rem 2.4rem;

      .search-fpt {
        flex-shrink: 0;
        margin: 0.2rem 34.7rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6200000048);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .icon-search-outline-yag {
        height: 2.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2.3rem;
      }
    }
    .ellipse-15-5Np {
      width: 3.6rem;
      height: 3.6rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:b9c6e89875fbd73019c68689a8c7c21055eb78fc');
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      background-size: 100% 100%;
      background-position: center;
      border-radius: 1.8rem;
    }
  }
  .auto-group-tmgt-aqN {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 93.7rem;

    .auto-group-adus-jTN {
      position: absolute;
      left: 16rem;
      top: 10.9rem;
      width: 112.7rem;
      height: 38.3037rem;

      .rectangle-30-s3n {
        height: 38.3037rem;
        position: absolute;
        left: 2.8rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2.5rem;
        width: 107.5rem;
      }
      .ellipse-16-PH2 {
        width: 4.8rem;
        height: 4.8rem;
        position: absolute;
        left: 0;
        top: 16.8rem;
        background-color: #d9d9d9;
        border-radius: 2.4rem;
      }
      .item--HtC {
        left: 1rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 2.8rem;
        position: absolute;
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 1.5;
        white-space: nowrap;
        height: 6.8rem;
        top: 15.8rem;
      }
      .ellipse-17-CkG {
        border-radius: 2.4rem;
        width: 4.8rem;
        height: 4.8rem;
        position: absolute;
        left: 107.9rem;
        top: 16.8rem;
        background-color: #d9d9d9;
      }
      .item--KZz {
        font-size: 4.5rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 6.8rem;
        left: 108.9rem;
        top: 15.8rem;
        font-weight: 500;
        width: 2.7rem;
      }
    }
    .games-RN8 {
      width: 8.9rem;
      height: 3.6rem;
      top: 55.1rem;
      font-size: 2.4rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 18.8rem;
      font-weight: 700;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8399999738);
    }
    .auto-group-gugu-YBr {
      top: 62.5rem;
      display: flex;
      column-gap: 2.5rem;
      align-items: center;
      width: 107.5rem;
      height: 18.3rem;
      position: absolute;
      left: 18.8rem;

      .rectangle-31-4fz {
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
      }
      .rectangle-37-nbz {
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .rectangle-38-Kbv {
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-39-TTE {
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
      }
      .rectangle-40-1Dr {
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-8gak-Yja {
      height: 18.3rem;
      position: absolute;
      left: 18.8rem;
      top: 88.2rem;
      display: flex;
      column-gap: 2.5rem;
      align-items: center;
      width: 107.5rem;

      .rectangle-32-Tbe {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
      }
      .rectangle-36-ofW {
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
      }
      .rectangle-33-8hn {
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .rectangle-34-rdn {
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
      }
      .rectangle-35-QQQ {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
      }
    }
    .rectangle-41-XV2 {
      width: 8.6rem;
      height: 0.8rem;
      position: absolute;
      left: 18.8rem;
      top: 59rem;
      background-color: #54a0ff;
      border-radius: 3rem;
    }
    .auto-group-ypbe-s36 {
      top: 82rem;
      display: flex;
      align-items: center;
      width: 101.1rem;
      height: 2.4rem;
      position: absolute;
      left: 21.7rem;

      .league-of-legend-ztQ {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.1rem;
      }
      .free-fire-LhN {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 13.6rem;
        font-size: 1.6rem;
      }
      .cod-mobile-gWL {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.5rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .lot-new-era-Rip {
        flex-shrink: 0;
        margin-right: 12.2rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .stumbleguys-Zq2 {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
  }
}
