
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mockup-34U {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-pd8u-kzU {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 19.5rem 1.8rem 19.5rem;

    .auto-group-zrhj-62k {
      flex-shrink: 0;
      margin: 0rem 20.5rem 1.2rem 21rem;
      width: calc(100% - 41.5rem);
      display: flex;
      column-gap: 2.5rem;
      align-items: center;

      .rectangle-30-QZE {
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
      }
      .rectangle-32-k7J {
        height: 18.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
      }
      .rectangle-31-gme {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
        width: 19.5rem;
        height: 18.3rem;
      }
    }
    .auto-group-nirw-DFn {
      width: calc(100% - 47.5rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 23.3rem 13.1rem 24.2rem;

      .marvel-super-war-99S {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10.2rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
      }
      .supersus-GUx {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10.8rem;
      }
      .honkai-star-raill-QLG {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
    }
    .more-information-wLC {
      font-weight: 700;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 83.5rem 0.3rem 0rem;
      font-size: 2.4rem;
    }
    .rectangle-28-qRa {
      height: 0.8rem;
      background-color: #54a0ff;
      border-radius: 3rem;
      flex-shrink: 0;
      margin-right: 96.4rem;
      width: 8.6rem;
    }
  }
  .auto-group-aahw-NRW {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:bebfcf4c8bd63625b00405568200c4ec1cf2e170');
    flex-shrink: 0;
    width: 100%;
    height: 67.2rem;
    position: relative;
    background-size: 100% 100%;

    .payment-4p8 {
      color: rgba(0, 0, 0, 0.8399999738);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.3rem;
      position: absolute;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.5;
      height: 3.6rem;
      left: 19.4rem;
      top: 40.2rem;
    }
    .logo-AsA {
      font-weight: 700;
      line-height: 1.5;
      color: rgba(35, 31, 32, 0.8399999738);
      position: absolute;
      left: 19.3rem;
      top: 7.9rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.8rem;
      height: 3.6rem;
      font-size: 2.4rem;
    }
    .rectangle-29-GQQ {
      height: 0.8rem;
      position: absolute;
      left: 19.4rem;
      top: 44.1rem;
      background-color: #54a0ff;
      border-radius: 3rem;
      width: 8.6rem;
    }
    .lorem-ipsum-is-sample-or-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrysstandard-dumy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-not-only-survived-5-centuries-but-has-also-transitioned-to-electronic-typesetting-without-any-changes-it-began-to-be-popularized-in-1960-with-the-launch-of-letraset-sheets-which-used-sentences-from-lorem-ipsum-and-with-the-advent-of-desktop-publishing-software-such-as-aldus-pagemaker-also-had-a-lorem-ipsum-version-176 {
      font-size: 1.4rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 80rem;
      height: 12.6rem;
      position: absolute;
      left: 19.4rem;
      top: 12rem;
      font-weight: 400;
    }
    .auto-group-3xxn-t4Q {
      width: 24.1rem;
      height: 2.4814rem;
      position: absolute;
      left: 19.4rem;
      top: 26.4rem;

      .icon-email-Ra8 {
        object-fit: contain;
        vertical-align: top;
        width: 2.4814rem;
        height: 2.4814rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .muklisggbetshopgmailcom-Y8x {
        width: 21.8rem;
        position: absolute;
        left: 2.3rem;
        top: 0.1rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
      }
    }
    .auto-group-pxsa-kF2 {
      width: 37.3rem;
      height: 2.6rem;
      position: absolute;
      left: 19.4rem;
      top: 34.1rem;

      .icon-clock-tME {
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .jam-hindari-transaksi-di-jam-00-00-s-d-00-30-ER6 {
        height: 2.1rem;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 35rem;
        left: 2.3rem;
        top: 0.2rem;
        font-weight: 400;
        position: absolute;
      }
    }
    .auto-group-fqnx-h3n {
      width: 14.8rem;
      height: 2.1rem;
      position: absolute;
      left: 19.6rem;
      top: 30.4rem;
      display: flex;
      align-items: center;

      .icon-phone-call-peC {
        flex-shrink: 0;
        width: 2.1rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-0826-6788-9000-YKJ {
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
    .auto-group-hjak-Ehv {
      column-gap: 1.1rem;
      padding-right: 10.6rem;
      width: 41.3rem;
      height: 3.6rem;
      position: absolute;
      top: 47.8rem;
      box-sizing: border-box;
      left: 19.3rem;
      display: flex;
      align-items: flex-start;

      .qrisfooter-jPn {
        vertical-align: top;
        flex-shrink: 0;
        width: 9.5rem;
        height: 3.5rem;
        object-fit: cover;
      }
      .qrisfooter-5Ck {
        width: 9.5rem;
        height: 3.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .qrisfooter-cyN {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 9.5rem;
        height: 3.5rem;
      }
    }
    .auto-group-oyxn-LuN {
      align-items: center;
      width: 32.7rem;
      height: 2rem;
      position: absolute;
      left: 19.3rem;
      top: 53.7rem;
      display: flex;

      .auto-group-kfqc-FWY {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.6rem 0.1rem 0rem;
      }
      .cek-status-pembayaran-mzg {
        flex-shrink: 0;
        margin-right: 0.7rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-or8t-WhN {
        margin: 0rem 0.6rem 0.1rem 0rem;
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .login-pi4 {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.1rem;
      }
      .auto-group-xyaq-LRW {
        height: 1.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.6rem 0.1rem 0rem;
        width: 1.5rem;
      }
      .register-Ga4 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
    }
  }
}
