
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mockup-9hz {
  height: 100.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .more-information-HpC {
    font-family: Poppins, 'Source Sans Pro';
    width: 21.5rem;
    position: absolute;
    left: 18.3rem;
    top: 90.4rem;
    color: rgba(0, 0, 0, 0.8399999738);
    height: 3.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
  }
  .logo-a2c {
    top: 104.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: rgba(35, 31, 32, 0.8399999738);
    white-space: nowrap;
    width: 6.8rem;
    position: absolute;
    left: 18.1rem;
    height: 3.6rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
  }
  .auto-group-ivxk-Ts6 {
    column-gap: 2.5rem;
    align-items: center;
    width: 107.5rem;
    height: 18.3rem;
    position: absolute;
    left: 18.3rem;
    top: 4.2rem;
    display: flex;

    .rectangle-28-MxU {
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .rectangle-37-uDJ {
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
    }
    .rectangle-34-pr4 {
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
    }
    .rectangle-35-NMn {
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .rectangle-36-usW {
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
    }
  }
  .auto-group-mrjv-Eet {
    width: 107.5rem;
    height: 18.3rem;
    position: absolute;
    left: 18.3rem;
    top: 29.6rem;
    display: flex;
    column-gap: 2.5rem;
    align-items: center;

    .rectangle-29-ZBN {
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 19.5rem;
    }
    .rectangle-30-W6c {
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .rectangle-33-3MS {
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
    }
    .rectangle-31-Nec {
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .rectangle-32-FiQ {
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
    }
  }
  .rectangle-38-AqN {
    width: 8.6rem;
    height: 0.8rem;
    position: absolute;
    left: 18.3rem;
    top: 94.3rem;
    background-color: #54a0ff;
    border-radius: 3rem;
  }
  .auto-group-da3j-4vk {
    top: 23.7rem;
    display: flex;
    align-items: center;
    width: 94.3rem;
    height: 2.4rem;
    position: absolute;
    left: 27rem;

    .sky-nrk {
      margin-right: 15.7rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .ragnarok-x-SwJ {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 13.1rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
    }
    .ace-racer-Pbe {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.4rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .valorant-iP2 {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 14.4rem;
    }
    .be-the-king-fJG {
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
  }
  .auto-group-cuf6-ofN {
    top: 49.1rem;
    display: flex;
    align-items: center;
    width: 98.7rem;
    height: 2.4rem;
    position: absolute;
    left: 22.6rem;

    .pubg-mobile-8xY {
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 12rem;
      font-size: 1.6rem;
    }
    .lords-mobile-HaY {
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.2rem;
      font-size: 1.6rem;
    }
    .lifeafter-credits-Qv4 {
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10rem;
      font-size: 1.6rem;
    }
    .mobile-legends-YFa {
      margin-right: 10rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .marvel-snap-e3i {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .auto-group-rcu6-nQp {
    position: absolute;
    left: 39.3rem;
    top: 55.3rem;
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    width: 63.5rem;
    height: 18.3rem;

    .rectangle-39-uVS {
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
    }
    .rectangle-41-E1v {
      flex-shrink: 0;
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
    }
    .rectangle-40-aLg {
      width: 19.5rem;
      height: 18.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
  }
  .auto-group-1vq6-75i {
    width: 57.5rem;
    height: 2.5rem;
    position: absolute;
    left: 42.5rem;
    top: 74.8rem;
    display: flex;
    align-items: flex-end;

    .marvel-super-war-Sdn {
      font-weight: 500;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.2rem;
      font-size: 1.6rem;
    }
    .supersus-BLU {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 10.8rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .honkai-star-raill-8Fi {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .lorem-ipsum-is-sample-or-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrysstandard-dumy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-not-only-survived-5-centuries-but-has-also-transitioned-to-electronic-typesetting-without-any-changes-it-began-to-be-popularized-in-1960-with-the-launch-of-letraset-sheets-which-used-sentences-from-lorem-ipsum-and-with-the-advent-of-desktop-publishing-software-such-as-aldus-pagemaker-also-had-a-lorem-ipsum-version-ezk {
    height: 2.1rem;
    top: 108.9rem;
    font-weight: 400;
    white-space: nowrap;
    width: 406.4rem;
    position: absolute;
    left: 18.2rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
  }
}
